@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/JosefinSans-Medium.ttf');
}

@font-face {
  font-family: 'Josefin Sans';
  font-weight: bold;
  src: url('../fonts/JosefinSans-Bold.ttf');
}
